
.error{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    gap: 1.5rem;
    height: 100vh;
    width: 100%;
    background-color: #CE2829;  
    color: #fff;
    font-family: "Barlow";
   
}
.error h2{
    font-family: "Londrina Solid";
    font-size: 3.2rem;
    padding: 3rem;
}
.success h1 {
    font-family: "Roboto Condensed";
    font-size:  4rem;
    font-weight: 300;
    border-bottom: 1px solid white;
    padding-bottom: 2rem;
}
.error a {
    background-color: #FDC913;
    color: black;
    border-radius: 3.125rem;
    padding: 0.8rem 2.5rem;
    font-size: 1.125rem;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
}



