form h4{
    font-size: 1.2rem;
    font-weight: 700;
}

form {
   max-width: 532px;
   margin: 0 auto;
   width: 100%;
   font-family: "Barlow";
   display: flex;
   flex-direction: column;
   gap: 1.5rem;
}

.pizza-size span {
    color: #CE2829;
    font-weight: 500;
    font-size: 1rem;
}

.pizza-size {
    display: flex;
    gap: 6rem;
   
}
.formGroup-size {
    display: flex;
    justify-content: flex-start;
}

.size-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width:3rem;
    height: 3rem;
    border-radius: 50%;
    gap: 0.5rem;
    cursor:pointer;
    background-color: #FAF7F2;
}
.size-btn-active{
    display: flex;
    align-items: center;
    justify-content: center;
    width:3rem;
    height: 3rem;
    border-radius: 50%;
    gap: 0.5rem;
    cursor:pointer;
    background-color: #FFEECC;
}


.size input {
    display: none;
}
.size, .thickness {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.dropdown {
    padding: 1rem 1.5rem;
    background-color: #FAF7F2;
    border-radius: 0.2rem;
    border: #FAF7F2;
}
.pizza-additional {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
#error {
    color: #dc3545;
    font-size: 0.875rem;
}
.checkbox {
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    gap: 1rem;
    margin-top: 3rem;;
}
.checkbox label {
    width: 25%;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    font-weight: 700;
}
.checkbox input{
    background-color:#FAF7F2;
    border: #FAF7F2;
    padding: 1rem;
    font-size: 1rem;
}
.checkbox input:checked{
    background-color: #FDC913;
    border: #FDC913;
    padding: 1rem;
}
.product-input, .name-input, .text-input {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.product-input label, .name-input label, .text-input label {
    font-size: 1.2rem;
    font-weight: 700;
}
.text-input textarea {
    padding: 0.8rem;
    background-color: #FAF7F2;
}
.text-input textarea::placeholder {
    font-family: "Barlow";
    font-size: 0.9rem;
}   
.product-input input {
    padding: 0.8rem;
    background-color: #FAF7F2;
}
.name-input input {
    padding: 0.8rem;
    background-color: #FAF7F2;
}

.order-footer {
    display: flex;
    justify-content: space-between;
    gap:0.5rem;
    padding-top: 1.5rem;
    padding-bottom: 5rem;
     border-top: 1px solid #5F5F5F80;
}
.counter {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 1rem;
    width: 28%;
}
.counter span{
    padding-top: 0.5rem;
}
.order-footer button {
    background-color: #FDC913;
}
.order-footer button:disabled{
    background-color: #5F5F5F;
    color:white;
}
.summary{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
    gap:0.5rem; 
}