.order-detail-wrapper {
   max-width: 532px;
   margin: 0 auto;
   width: 100%;
   font-family: "Barlow";
   display: flex;
   flex-direction: column;
   gap: 1.5rem;
}
.pizza-detail h3 {
    font-size: 1.375rem;
    font-weight: 700;
}
#price {
    font-size: 1.8rem;
    font-weight: 700;
    font-family: "Barlow";
}
.pizza-detail > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
}





